
/*Set the background colour*/
body {
    background-color: #f9fafc;
}

.action-buttons {
  padding-right: 15px;
}

.seperator{
  border-bottom: 1px solid #e5e6eb;
  border-top: 1px solid #e5e6eb;
  background-color: #FAFAFA;
  padding-left:5px;
}

.newsection{
  padding-top:10px;
}

.totalsummary{
  padding-top:40px;
}

.summary{
  padding-left:50px;
  padding-top:5px;
}

    /* navbar */
.navbar-default {
    background-color: #45a15c;
    border-color: #45a15c;
    height:80px;
}
/* Title */
.navbar-default .navbar-brand {
    color: #fff;
   
}

.navbar .navbar-brand img {

}

.navbar-default .navbar-brand:ffhover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* Link */


.navbar-default .navbar-nav {padding-top:15px;}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    border-bottom:2px solid #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    border-bottom:2px solid #fff;
    background-color: #45a15c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

.navbar-default .navbar-text{color:#fff; padding-top:15px;}
.navbar-default .navbar-link{color:#fff;}

.footer {
  text-align: center;
}

.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #45a15c !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #45a15c; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.form-label{font-size:10pt; font-weight: normal;}

.table-striped>tbody>tr>td, {
   border:0px; // Choose your own color here
   background-color:#F5F5F5;
}

.table-striped>tbody>tr:nth-child(odd)>td, {
  background-color:#fff;
 }


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

 
.btn.round {
	border-radius: 24px;
	padding-left:30px;
	padding-right:30px;
}

.container {
    max-width:970px;
}

.btnfooter{
    padding-top:20px;
}

.btn-success{
    background-color: #45a15c;
}

.glyphicon.glyphicon-cog {
    font-size: 20px;
}

.panel-default {
    border-color: #e5e5e5;
}

footer{
    font-size:8pt;
}